{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Episode</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de lanzamiento</th>
    </tr>
  </thead>
  <tbody>
  {% for item in capitulos %}
    <tr>
        <td>{{ item['episode'] }}</td>
      <td><a href="{{ url_for('episodio',name= item['id']|string)}}">{{item['name']}}</a></td>
      <td>{{item['air_date']}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
    <div class="col"></div>
  </div>
</div>



{% endblock %}
